In [2]:
import os
import sqlite3
import pandas as pd
import streamlit as st

In [4]:
def getpath():
    ## get the path of prediction_data file
    cwd = os.getcwd()
    cw='/'.join(cwd.split('/'))
    if cw:
        path=cwd+'/prediction_data/games_fps_cpu_gpu.db'
    else:
        path=cwd+'\\prediction_data\\games_fps_cpu_gpu.db'
    return path

In [5]:
path=getpath()
query='''SELECT DISTINCT Game_Name FROM games_fps'''
cnx=sqlite3.connect(path)
games=pd.read_sql(query,cnx)
cnx.close()

In [6]:
game1=st.selectbox('Please select the first game you want to play',games['Game_Name'],key=1)
print('You selected: ', game1)

game2=st.selectbox('Please select the second game you want to play',games['Game_Name'],key=2)
print('You selected: ', game2)

game3=st.selectbox('Please select the third game you want to play',games['Game_Name'],key=3)
print('You selected: ', game3)

You selected:  airmech-strike
You selected:  airmech-strike
You selected:  airmech-strike

In [7]:
budget=st.text_input('Please input the budget you have in mind')

Please input the budget you have in mind 700

In [36]:
path=getpath()
query='''SELECT DISTINCT a.CPU, a.GPU, b.PRICE+c.PRICE, \
      as total_price FROM games_fps as a, cpu_price as b,\
      gpu_price as c  where a.CPU=b.CPU and a.GPU=c.GPU \
      and (a.Game_Name='{}' or a.Game_Name='{}' or a.Game_Name='{}')  and a.FPS>60 and total_price<({}+50)\
      and total_price>({}-50)  ORDER BY total_price DESC'''.format(game1,game2,game3,budget,budget)
cnx=sqlite3.connect(path)
result=pd.read_sql(query,cnx)
cnx.close()

In [38]:
st.dataframe(result.iloc[:5,:])

             CPU             GPU  total_price
0  Ryzen 5 1600x     gtx 1070 Ti       749.98
1   Ryzen 7 1700  rtx 2060 super       749.98
2   Ryzen 7 1700      rx 5700 xt       748.99
3        i5 8400     gtx 1070 Ti       746.47
4       i5 7600k         gtx 970       744.98